#!/bin/bash -l
#SBATCH -N 1
#SBATCH --ntasks-per-node=1
#SBATCH --time=00:60:00
#SBATCH --mem=8GB
#SBATCH -p plgrid-testing

set -e

cd $SCRATCHDIR
echo Current dir: $SCRATCHDIR
echo Patient name: {{ case_number }}
echo Pipeline identifier: {{ pipeline_identifier }}
echo Pipeline name: {{ pipeline_name }}
echo Step name: {{ step_name }}

echo Preparing computation source code
echo --------------------START-----------------------------
{% clone_repo %}
echo --------------------END-------------------------------
REPO_DIR=`find . -name .git | cut -d/ -f2`

wget -q https://raw.githubusercontent.com/SanoScience/observability/develop/monitoring.sh https://raw.githubusercontent.com/SanoScience/observability/develop/monitoring-env.yml
source monitoring.sh
CASE_NUMBER=`param_or_empty {{ case_number }}`; PIPELINE_IDENTIFIER=`param_or_empty {{ pipeline_identifier }}`; PIPELINE_NAME=`param_or_empty {{ pipeline_name }}`; STEP_NAME=`param_or_empty {{ step_name }}`

setup_env monitoring-env.yml
run_monitoring "--custom-labels case_number:$CASE_NUMBER pipeline_identifier:$PIPELINE_IDENTIFIER pipeline_name:$PIPELINE_NAME step_name:$STEP_NAME" &

ENV_NAME="monitoring_env"

echo $SLURM_SUBMIT_DIR
echo $TMP_DIR

echo Run calculation
echo --------------------START-----------------------------

for i in {1..3}; do
    conda run -n $ENV_NAME stress-ng --cpu 4 --timeout 30s
    sleep 3
done

bash $REPO_DIR/template.bash
echo --------------------END-------------------------------

echo Uploading results
echo --------------------START-----------------------------
{% stage_out scrapping_logs.txt %}
echo --------------------END-------------------------------
echo Finish
