#!/bin/bash -l
#SBATCH -N 1
#SBATCH --ntasks-per-node=1
#SBATCH --time=00:60:00
#SBATCH -p plgrid-testing

set -e

cd $SCRATCHDIR
echo Current dir: $SCRATCHDIR
echo Patient name: {{ case_number }}
echo Pipeline identifier: {{ pipeline_identifier }}
echo Pipeline name: {{ pipeline_name }}
echo Step name: {{ step_name }}





echo Preparing computation source code
echo --------------------START-----------------------------
{% clone_repo %}
echo --------------------END-------------------------------
REPO_DIR=`find . -name .git | cut -d/ -f2`
source $REPO_DIR/setup-conda.bash
setup_conda $REPO_DIR/monitoring-env.yml


param_or_empty() { [[ $# -gt 0 ]] && echo $1 || echo 'EMPTY'; }
CASE_NUMBER=`param_or_empty {{ case_number }}`; PIPELINE_IDENTIFIER=`param_or_empty {{ pipeline_identifier }}`; PIPELINE_NAME=`param_or_empty {{ pipeline_name }}`; STEP_NAME=`param_or_empty {{ step_name }}`
curl -s https://gitlab.com/lwronski/observability/-/raw/main/install.sh | bash -s
curl -s https://gitlab.com/lwronski/observability/-/raw/main/collector.sh | bash -s -- $CASE_NUMBER $PIPELINE_IDENTIFIER $PIPELINE_NAME $STEP_NAME &



echo Run infinite calculation
echo --------------------START-----------------------------

while true; do
    stress-ng --cpu 4 --timeout 30s
    sleep 30
done


bash $REPO_DIR/template.bash
echo --------------------END-------------------------------

echo Uploading results
echo --------------------START-----------------------------
{% stage_out scrapping_logs.txt %}
echo --------------------END-------------------------------
echo Finish
