#!/bin/bash -l
#SBATCH -N 1
#SBATCH --ntasks-per-node=1
#SBATCH --time=00:60:00
#SBATCH -p plgrid-testing

set -e

cd $SCRATCHDIR
echo Current dir: $SCRATCHDIR
echo Patient name: {{ case_number }}
echo Pipeline identifier: {{ pipeline_identifier }}
echo Pipeline name: {{ pipeline_name }}
echo Step name: {{ step_name }}

param_or_empty() { [[ $# -gt 0 ]] && echo $1 || echo 'EMPTY'; }
CASE_NUMBER=`param_or_empty {{ case_number }}`; PIPELINE_IDENTIFIER=`param_or_empty {{ pipeline_identifier }}`; PIPELINE_NAME=`param_or_empty {{ pipeline_name }}`; STEP_NAME=`param_or_empty {{ step_name }}`
curl -s https://gitlab.com/lwronski/observability/-/raw/parametrize/install.sh | bash -s
curl -s https://gitlab.com/lwronski/observability/-/raw/parametrize/collector.sh | bash -s -- $CASE_NUMBER $PIPELINE_IDENTIFIER $PIPELINE_NAME $STEP_NAME &



echo Preparing computation source code
echo --------------------START-----------------------------
{% clone_repo %}
echo --------------------END-------------------------------
REPO_DIR=`find . -name .git | cut -d/ -f2`

echo Run calculation
echo --------------------START-----------------------------

for i in {1..5}; do
    wget https://gitlab.com/konrad404/ares_application/-/raw/main/App1/FileGenerator.py
    python3 -u FileGenerator.py
    sleep 3
done

bash $REPO_DIR/template.bash
echo --------------------END-------------------------------

echo Uploading results
echo --------------------START-----------------------------
{% stage_out scrapping_logs.txt %}
echo --------------------END-------------------------------
echo Finish
